# Extracting Table from PDF file

In [105]:
import camelot.io as cm #to fix error -> conda install ghostscript
import os

In [106]:
ls

 El volumen de la unidad C no tiene etiqueta.
 El nï¿½mero de serie del volumen es: B652-0BE0

 Directorio de c:\Users\avr_h\Documents\Practicas Programacion\Python\Python\Automation\Scrapping

07/07/2022  03:42    <DIR>          .
07/07/2022  03:42    <DIR>          ..
07/07/2022  04:09    <DIR>          files
07/07/2022  03:57             5.837 pdf_extraction.ipynb
06/07/2022  04:31                73 scrapping_pdf.py
06/07/2022  03:57             1.524 ted_talk_downloader.py
               3 archivos          7.434 bytes
               3 dirs  28.496.560.128 bytes libres

In [107]:
# Option 1 -> URL
#input_pdf = cm.read_pdf("url")

# Option 2 -> file
# flavor can be -> stream or lattice
input_pdf = cm.read_pdf(os.getcwd() + "\\files\\table.pdf", flavor="lattice", pages='all')

In [108]:
input_pdf # Visalize

In [109]:
for element in input_pdf:
    print (element)

<Table shape=(6, 6)>

In [110]:
df = input_pdf[0].df.loc[2: , :] # Get all rows but headers and all columns
df # Visualize

,0,1,2,3,4,5
2,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
3,Low Vision,5,2,3,"98.3% n=2 \n(97.7%, n=3)","1716 sec, n=3 \n(1934 sec, n=2)"
4,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
5,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"

In [111]:
df = df.reset_index(drop= True)
df.columns = ["Disability Category", "Participants", "Ballots Completed", "Ballots Incomplete/Terminated", "Results - Accuracy", "Results - Time to complete"]
df

,Disability Category,Participants,Ballots Completed,Ballots Incomplete/Terminated,Results - Accuracy,Results - Time to complete
0,Blind,5,1,4,"34.5%, n=1","1199 sec, n=1"
1,Low Vision,5,2,3,"98.3% n=2 \n(97.7%, n=3)","1716 sec, n=3 \n(1934 sec, n=2)"
2,Dexterity,5,4,1,"98.3%, n=4","1672.1 sec, n=4"
3,Mobility,3,3,0,"95.4%, n=3","1416 sec, n=3"

In [113]:
df.to_csv(os.getcwd() + "\\files\\csv_copy.csv")
df.to_excel(os.getcwd() + "\\files\\excel_copy.xlsx")
# TO-DO -> convertir a integer y quitar \n